# ─── Environment ────────────────────────────────────────────────
APP_ENV=development

# ─── Auth Service ───────────────────────────────────────────────
JWT_SECRET=payshield-local-dev-secret-change-in-prod
JWT_EXPIRY_MINUTES=60

# ─── DynamoDB Local ─────────────────────────────────────────────
DYNAMODB_ENDPOINT=http://localhost:8000
DYNAMODB_REGION=us-east-1
DYNAMODB_USERS_TABLE=payshield-users-dev
DYNAMODB_TRANSACTIONS_TABLE=payshield-transactions-dev
DYNAMODB_PREDICTIONS_TABLE=payshield-model-predictions-dev
AWS_ACCESS_KEY_ID=local
AWS_SECRET_ACCESS_KEY=local

# ─── Redis ──────────────────────────────────────────────────────
REDIS_HOST=localhost
REDIS_PORT=6379

# ─── Kafka ──────────────────────────────────────────────────────
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# ─── MLflow ─────────────────────────────────────────────────────
MLFLOW_TRACKING_URI=http://localhost:5050
MLFLOW_EXPERIMENT_NAME=fraud-detection

# ─── S3 (local MinIO) ───────────────────────────────────────────
S3_ENDPOINT_URL=http://localhost:9000
S3_BUCKET_RAW=payshield-raw-data
S3_BUCKET_PROCESSED=payshield-processed-data
S3_BUCKET_MODELS=payshield-model-artifacts
S3_BUCKET_DRIFT=payshield-drift-reports
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# ─── Fraud Model API ────────────────────────────────────────────
MODEL_NAME=fraud-risk-model
MODEL_STAGE=Production
FRAUD_MODEL_API_URL=http://localhost:8004

# ─── Frontend ───────────────────────────────────────────────────
VITE_API_URL=http://localhost:8001
